<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Test Buonny</title>

        <!-- Bootstrap core CSS -->
        <link href="vendors/css/bootstrap.min.css" rel="stylesheet">

        <script type="text/javascript" src="vendors/js/jquery.min.js"></script>
    </head>

    <body>

    <div class="container" ng-controller="AppController">
        <div class="header clearfix">
            <h3 class="text-muted">Test Buonny</h3>
        </div>

        <table class="table">
            <caption>Selecione um item.</caption>
            <thead>
                <tr>
                    <th>AVÓS</th>
                    <th>PAIS</th>
                    <th>FILHOS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div ng-repeat="grand in grandparents">
                            <input type="radio" name="grand" ng-click="grandClickable(grand.id)">
                            {{grand.nome}}
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="parent in parents track by $index" ng-show="visibles.parent">
                            <input type="checkbox" name="parent[$index]" ng-click="parentClickable(parent.id)"/>
                            {{parent.nome}}
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="children in childrens" ng-show="visibles.children">
                            {{children.nome}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="footer">
            <p>© 2016 Leandro Martins, Inc.</p>
        </footer>

    </div> <!-- /container -->

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="vendors/js/angular.min.js"></script>
    <script type="text/javascript" src="public/js/app.module.js"></script>
    <script type="text/javascript" src="public/js/app.service.js"></script>
    <script type="text/javascript" src="public/js/app.controller.js"></script>
    </body>
</html>